# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Publish with Gradle

on:
  push:
    branches: [ "infrastructure/release" ]

jobs:
  build:

    runs-on: ubuntu-latest
    environment: publish
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      env:
        PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN}}
      run: ./gradlew publishPlugin -Dorg.gradle.project.intellijPublishToken=$PUBLISH_TOKEN
